@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
  font-family: "Comfortaa", cursive;
  background-color: white;
}

.appJs-main-div,
.mainContent-main-div {
  border: 1px;
}

.container {
  display: flex;
  justify-content: space-around;
}
/* this piece needs to become horizontally scrollable */

.flex-item {
  flex: 1;
  border: 3px solid white;
  align-items: center;
  border-radius: 15px;
}
/* these vertical columns need to become vertically scrollable */

.createNewDiv {
  text-align: center;
  margin-top: 2%;
}

.topDivHeaderRegisterLogin {
  text-align: center;
}

#inputForm {
  padding: 2% 5% 0% 5%;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  color: #0b3954;
  background-color: white;
  font-weight: bold;
}

li {
  background-color: white;
  list-style-type: none;
  margin-left: auto;
  border-radius: 15px;
  padding-top: 5px;
}

#ToDoDiv,
ul {
  background-color: #ff934f;
}

ul,
li {
  padding-left: 5px;
  padding-right: 5px;
}

#DoingDiv {
  background-color: #c6e833;
}

#DoneDiv {
  background-color: #23c4c6;
}
p {
  text-align: center;
  background-color: transparent;
  font-weight: bold;
}
.ListBtn {
  text-align: right;
}

.LogInForm {
  padding: 2% 25% 2% 25%;
}

.title {
  padding-top: 5px;
}

.editContainer {
  background-color: transparent;
}

.moveButtons {
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
}
