@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: red;
}

.appJs-main-div {
  border: 1px solid red;
 
}

.mainContent-main-div {
  border: 1px solid blue;
}

.container {
  display: flex;
  justify-content: space-around;
}
/* this piece needs to become horizontally scrollable */

.flex-item {
  flex: 1;
  padding: 10px;
  border: 1px solid purple;
  border-radius: 15px;
  margin: 10px;
}
/* these vertical columns need to become vertically scrollable */

.createNewDiv {
  text-align: center;
  margin-top: 2%;
}

.topDivHeaderRegisterLogin {
  text-align: center;
}


