@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: red;
}

.appJs-main-div {
  border: 1px solid red;
 
}

.mainContent-main-div {
  border: 1px solid blue;
}

.container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  border: 1px solid purple;
  align-items: center;
}

.createNewDiv {
  text-align: center;
  margin-top: 2%;
}

.topDivHeaderRegisterLogin {
  text-align: center;
}


